

.box {
	width: 700px;
	padding: 10px;
	border-style: solid;
	border-color: #fefdf7;
	border-width: 8px;
	padding-left: 10px;
	padding-bottom: 10px;
	margin-left: 80px;
	
}

.img1 {
	background-image: url("images/background/flowers.jpg");
	background-color: white;
}

.scroll {
    height: 300px;
    overflow: scroll;
}

.titleTXT {	
	color: #fe775c; font-family: "Great vibes" , cursive;
	font-size: 165px;
	line-height: 160px;
	font-weight: normal;
	margin-bottom: 0px;
	margin-top: 40px;
	text-align: center;
	text-shadow: 2px 2px 2px #dfc852;
	padding-bottom: 10px;
}

.bodyTXT {
	color: #161515; font-size: 17px;
	font-family: "Libre Baskerville", serif;
	line-height: 28px; 
	text-align: justify;
	text-shadow: 0 1px 1px #fff;
	padding-top: 20px;
}

.endTXT {
	font-style: italic;
	color: #B6B6B6;
	font-size: 24px;
	margin-top: 20px;
	text-align: center;
	text-shadow: 0 1px 1px #fff;
}
